body, html {
    height: 100%;
    margin: 0;
    color: #fff;
}

a {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

.main-wrapper {
    height: 100%;
}

.buttons {
    font-size: x-large;
}

.background-image {
    height: 100%;
    /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/pictures/main-background-bitcoin.jpg");*/
    background: url("/pictures/main-background-bitcoin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.background-image:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-image: linear-gradient(150deg,rgba(56, 56, 56, 0.8),rgba(54,67,71,.5));*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.header {
    position: relative;
}

.header-body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding: 10px 20px;
}

.site-name {
    display: inline-block;
    float: left;
    font-size: xx-large;
}

.header-buttons-wrapper {
    display: inline-block;
    float: right;
    font-size: x-large;
    line-height: 150%;
}

.header-buttons-wrapper a {
    border-radius: 10px;
    padding: 10px;
    transition: all .4s ease-in-out;
}

.header-buttons-wrapper a:hover {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    /*box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);*/
}

#button-about-us {
    margin-inline-end: 3vw;
}